@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbars */
::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-black;
}
::-webkit-scrollbar-thumb {
  @apply bg-brand-primary/30 outline-0;
}

.space {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-space {
  animation: bgSpace 200s ease infinite;
}

@keyframes bgSpace {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100dvw 0;
  }
}

.bg-brand-radial {
  background-image: radial-gradient(
    85% 80% at 20% -10%,
    #000 0%,
    #000 52%,
    #bcffff 66%,
    #ff00fe 85%,
    #000 100%
  );
  animation: brandRadial 15s ease infinite;
}

@keyframes brandRadial {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 640px) {
  @keyframes brandRadial {
    0% {
      transform: skew(0) scale(1);
    }
    50% {
      transform: skew(20deg) scale(1.5);
    }
    100% {
      transform: skew(0) scale(1);
    }
  }
}

.bg-brand-img {
  animation: brandImg 80s ease infinite alternate;
}

@keyframes brandImg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100dvw 0;
  }
}

.logo::before {
  content: '';
  display: flex;
  position: absolute;
  top: -200%;
  left: -150%;
  width: 350%;
  height: 500%;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.75) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.brand-lines {
  --animation-time: 1;
  animation: flicker var(--animation-time) ease alternate infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.bg-brand-nav-highlight {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(188, 255, 255, 0.4) 0%,
    rgba(188, 255, 255, 0) 100%
  );
}

.hero-img-bg {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.85) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      30% 30% at 45% 30%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) 100%
    );
}

.hero-img-bg img {
  clip-path: ellipse(50% 50% at 50% 50%);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text-shadow {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 254, 0.5) 0%,
    rgba(255, 0, 254, 0.1) 100%
  );
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.25) inset;
}

.btn-primary:hover {
  background-color: rgba(255, 0, 254, 0.5);
}

.btn-secondary {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(188, 255, 255, 0.5) 0%,
    rgba(188, 255, 255, 0.1) 100%
  );
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.25) inset;
}

.btn-secondary:hover {
  background-color: rgba(188, 255, 255, 0.35);
}
