.space {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .bg-space {
    animation: bgSpace 200s ease infinite;
  }

  @keyframes bgSpace {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100dvw 0;
    }
  }

  .bg-brand-radial {
    animation: brandRadial 15s ease infinite;
  }

  @keyframes brandRadial {
    0% {
      transform: skew(0) scale(1);
    }
    50% {
      transform: skew(20deg) scale(1.5);
    }
    100% {
      transform: skew(0) scale(1);
    }
  }

  .bg-brand-img {
    animation: brandImg 80s ease infinite alternate;
  }

  @keyframes brandImg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100dvw 0;
    }
  }

  .brand-lines {
    --animation-time: 1;
    animation: flicker var(--animation-time) ease alternate infinite;
  }

  @keyframes flicker {
    0% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
}
